h1{
    text-align: center;

}
.mainArea{
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

}
.addlist{
    display       : flex;
    flex-direction: row;
}
.ul_list{
    display       : flex;
    flex-direction: column;
}